<p id="notice"><%= notice %></p>

<h1>Listing Venues</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Category A</th>
      <th>Category B</th>
      <th>Closed</th>
      <th>Website</th>
      <th>Phone numbre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= venue.address1 %></td>
        <td><%= venue.address2 %></td>
        <td><%= venue.lat %></td>
        <td><%= venue.lng %></td>
        <td><%= venue.category_a_id %></td>
        <td><%= venue.category_b_id %></td>
        <td><%= venue.closed %></td>
        <td><%= venue.website %></td>
        <td><%= venue.phone_numbre %></td>
        <td><%= link_to 'Show', venue %></td>
        <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', venue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Venue', new_venue_path %>
