<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @venue.name %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @venue.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @venue.address2 %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @venue.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @venue.lng %>
</p>

<p>
  <strong>Category A:</strong>
  <%= @venue.category_a_id %>
</p>
<p>
  <strong>Category B:</strong>
  <%= @venue.category_b_id %>
</p>

<p>
  <strong>Closed:</strong>
  <%= @venue.closed %>
</p>

<p>
  <strong>Website:</strong>
  <%= @venue.website %>
</p>

<p>
  <strong>Phone numbre:</strong>
  <%= @venue.phone_numbre %>
</p>

<%= link_to 'Edit', edit_venue_path(@venue) %> |
<%= link_to 'Back', venues_path %>
