<%= form_for(@openday) do |f| %>
  <% if @openday.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@openday.errors.count, "error") %> prohibited this openday from being saved:</h2>

      <ul>
      <% @openday.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :day %><br>
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :venue_id %><br>
    <%= f.text_field :venue_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
