<p id="notice"><%= notice %></p>

<h1>Listing Opendays</h1>

<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Hours</th>
      <th>Venue</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @opendays.each do |openday| %>
      <tr>
        <td><%= openday.day %></td>
        <td><%= openday.hours %></td>
        <td><%= openday.venue %></td>
        <td><%= link_to 'Show', openday %></td>
        <td><%= link_to 'Edit', edit_openday_path(openday) %></td>
        <td><%= link_to 'Destroy', openday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Openday', new_openday_path %>
