<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @openday.day %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @openday.hours %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @openday.venue %>
</p>

<%= link_to 'Edit', edit_openday_path(@openday) %> |
<%= link_to 'Back', opendays_path %>
